@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="BakeryController">
    <div ng-repeat="item in pastry" ng-animate class="repeated-item">
        <div cake="" ng-model="item"></div>
    </div>

</div>

